<a href="https://colab.research.google.com/github/PriyanshiBopche/AICS/blob/main/AICS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import linear_model
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
df = pd.read_csv('gdrive/My Drive/50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
new_df = df
new_df['State'] = new_df['State'].map({'New York':12,'California':10,'Florida':16})
new_df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10     12  192261.83
1  162597.70       151377.59        443898.53     10  191792.06
2  153441.51       101145.55        407934.54     16  191050.39
3  144372.41       118671.85        383199.62     12  182901.99
4  142107.34        91391.77        366168.42     16  166187.94

In [4]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('Profit',axis='columns').values,df.Profit)

LinearRegression()

In [7]:
print("Expected Profit is",reg.predict([[135000,115000,400000,14]]))

Expected Profit is [166723.45834165]