<a href="https://colab.research.google.com/github/PriyanshiBopche/AICS/blob/main/AICS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
print("List is ",list)
print(len(list))
list.reverse()
print(list)
list.append(11)
print(list)

List is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 11]

In [8]:
dict = {
    "name": "Kelly",
    "age": 27,
    "salary": 10000,
    "city": "New york"
}
dict.pop("salary")
print(dict)
print(dict['name'])
dict["city"]="Nagpur"
print(dict)

{'name': 'Kelly', 'age': 27, 'city': 'New york'}
Kelly
{'name': 'Kelly', 'age': 27, 'city': 'Nagpur'}